################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EliminarClienteconDapper/.vs/EliminarClienteconDapper/FileContentIndex/ed79fead-0f81-4ee4-9742-e8b5f57df051.vsidx
/EliminarClienteconDapper/.vs/EliminarClienteconDapper/FileContentIndex/1a20c960-a2a6-41d6-b745-d49ffbcf7c31.vsidx
*.vsidx
