################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EliminarClienteconDapper/.vs/EliminarClienteconDapper/FileContentIndex/ed79fead-0f81-4ee4-9742-e8b5f57df051.vsidx
